/**
 * JWD Teams PRO ** Public Side Stylesheet **
 *
 */
/* Typography */
/* Colors */
/* Screen Sizes */
/* Other */
/* Target IE11 Only */
/* Box Shadow */
/* Transition */
/* Hover */
/* Placeholder */
/* Display */
/* Transform */
/* Scroll Bar */
.jt__member-phone .fa, .jt__member-email .fa {
  margin-right: 0;
  margin-left: .25em; }

.jt__member-socials a:first-child {
  margin-left: .4em;
  margin-right: 0; }

.jt__member-socials a:last-child {
  margin-right: .4em;
  margin-left: 0; }

@media screen and (min-width: 40em) {
  .jt__team-item.two_per_row:nth-child(2n+2), .jt__team-item.three_per_row:nth-child(2n+2), .jt__team-item.four_per_row:nth-child(2n+2), .jt__team-item.five_per_row:nth-child(2n+2) {
    float: left; } }

@media screen and (min-width: 64em) {
  .jt__team-item.two_per_row, .jt__team-item.three_per_row, .jt__team-item.four_per_row, .jt__team-item.five_per_row {
    margin-left: 3%;
    margin-right: 0; }
    .jt__team-item.two_per_row:nth-child(2n+2), .jt__team-item.three_per_row:nth-child(2n+2), .jt__team-item.four_per_row:nth-child(2n+2), .jt__team-item.five_per_row:nth-child(2n+2) {
      float: none; } }

@media screen and (min-width: 64em) {
  .jt__team-item.two_per_row:nth-child(2n+2) {
    margin-left: 0; }
  .jt__team-item.three_per_row:nth-child(3n+3) {
    margin-left: 0; }
  .jt__team-item.four_per_row:nth-child(4n+4) {
    margin-left: 0; }
  .jt__team-item.five_per_row:nth-child(5n+5) {
    margin-left: 0; } }

@media screen and (min-width: 64em) {
  .jt__team.jt_horizontal .one_per_row .jt__member-img, .jt__team.jt_horizontal .two_per_row .jt__member-img, .jt__team.jt_horizontal .three_per_row .jt__member-img {
    float: right; }
  .jt__team.jt_horizontal .one_per_row .jt__member-name, .jt__team.jt_horizontal .one_per_row .jt__member-position, .jt__team.jt_horizontal .one_per_row .jt__member-phone, .jt__team.jt_horizontal .one_per_row .jt__member-email, .jt__team.jt_horizontal .one_per_row .jt__member-socials, .jt__team.jt_horizontal .one_per_row .jt__member-description, .jt__team.jt_horizontal .two_per_row .jt__member-name, .jt__team.jt_horizontal .two_per_row .jt__member-position, .jt__team.jt_horizontal .two_per_row .jt__member-phone, .jt__team.jt_horizontal .two_per_row .jt__member-email, .jt__team.jt_horizontal .two_per_row .jt__member-socials, .jt__team.jt_horizontal .two_per_row .jt__member-description, .jt__team.jt_horizontal .three_per_row .jt__member-name, .jt__team.jt_horizontal .three_per_row .jt__member-position, .jt__team.jt_horizontal .three_per_row .jt__member-phone, .jt__team.jt_horizontal .three_per_row .jt__member-email, .jt__team.jt_horizontal .three_per_row .jt__member-socials, .jt__team.jt_horizontal .three_per_row .jt__member-description {
    float: left; } }
